*{
    font-family: 'Inter', sans-serif;
    
}
body{
    background: #f4f4fc;
}
main{
 
    width: 100%;
    height: 100vh;
    display: flex;

}


/*TODO ESTO PERTENECE A LA SECCION USERAREA*/
.userarea{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
}

.userarea__logo{
    align-self: flex-start;
    margin: 40px;
    width: 120px;
    height: 48px;
}

.userarea__textholder{
    width: 50%;
    margin-bottom: 100px;
    
}

.userarea__textarea{
    width: 100%;
    height: 100px;
    font-size: 2em;
    background: #f4f4fc;
    color: #072B61;
    resize: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.userarea__textarea::placeholder{
    color: #0A3871;
}

.userarea__inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:center;
    font-size: 12px;
    margin: 0 auto;
}

.userarea__alertholder{
    position: relative;
}

.userarea__alerta{
    /* align-self: self-start; */
    position: absolute;
    top: -25px;
    display: inline-flex;
    gap: 10px;
    align-items: center;

}

.userarea__buttonholder{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    height: auto;
    justify-content: center;
}

.userarea__button{
    width: 300px;
    height: 60px;
    font-weight: bold;
    border-radius: 23px;
    cursor: pointer;
    background: white;
    border: 1px solid #0A3871;
    color: #0A3871;
    transition: background 0.5s;
}

.userarea__button:hover{
    background: #EFF1FA ;
}

.boton--azul{
    background: #0A3871;
    color: white;
    transition: background 0.5s;
}


/* .boton--copy{
    width: 200px;
    height: 40px;
    border-radius: 15px;
} */

.boton--azul:hover{
    background: #072B61;
}


.footer{
    height: 40px;
    font-size: 12px;
}

/*TODO ESTO PERTENECE A LA SECCION INFOAREA*/

.infoArea{
    width: 30%;
}

.whitebox{
    width: calc(100% - 40px);
    height: calc(100vh - 80px);
    min-width: 340px;
    max-width: 450px;
    min-height: 590px;
    margin: 40px 40px 40px auto;
    box-sizing: border-box;
    background: white;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 24px 32px -8px #00000014;

}

.whitebox__imgMuneco{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.whitebox__parrafo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
}

.whitebox__h3{
    font-weight: 700;
    text-align: center;
}

.whitebox__p{
    text-align: center;
    font-weight: 400;
}




@media (max-width:900px){

    main{
        flex-direction: column;
        min-width: 375px;
        min-height: 933px;
    }

    .userarea{
        width: 100%;
    }

    .infoArea{
        width: 100%;
        height: 300px;

    }

    .whitebox{
        width: calc(100% - 80px);
        height: calc(100% - 80px);
        min-width: none;
        max-width: none;
        min-height: 200px;
        margin: 40 40px 40px 40px;
    }

    .whitebox__imgMuneco, .footer, .boton--copy{
        display: none;
    }



}
